---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=O2mGsspmtcySYGXszHOZTsGAhEm7tDBq&location=moderate%20rain
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 10 Aug 2022 08:18:38 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"moderate
        rain"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Rain","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"Bayern","adminArea3Type":"State","adminArea1":"DE","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"DE/GEO/p0/93179","unknownInput":"","type":"s","latLng":{"lat":48.6902,"lng":10.91719},"displayLatLng":{"lat":48.6902,"lng":10.91719},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=O2mGsspmtcySYGXszHOZTsGAhEm7tDBq&type=map&size=225,160&locations=48.6902,10.91719|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-891916177"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Rain","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"Luzern","adminArea3Type":"State","adminArea1":"CH","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","d[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=b271b18580fbaa246ff5db7a4855489a&lat=48.6902&lon=10.91719&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":48.6902,"lon":10.9172,"timezone":"Europe/Berlin","timezone_offset":7200,"current":{"dt":1660119518,"sunrise":1660104133,"sunset":1660156880,"temp":72.09,"feels_like":71.35,"pressure":1022,"humidity":50,"dew_point":52.45,"uvi":2.89,"clouds":1,"visibility":10000,"wind_speed":3,"wind_deg":52,"wind_gust":10,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1660119540,"precipitation":0},{"dt":1660119600,"precipitation":0},{"dt":1660119660,"precipitation":0},{"dt":1660119720,"precipitation":0},{"dt":1660119780,"precipitation":0},{"dt":1660119840,"precipitation":0},{"dt":1660119900,"precipitation":0},{"dt":1660119960,"precipitation":0},{"dt":1660120020,"precipitation":0},{"dt":1660120080,"precipitation":0},{"dt":1660120140,"precipitation":0},{"dt":1660120200,"precipitation":0},{"dt":1660120260,"precipitation":0},{"dt":1660120320,"precipitation":0},{"dt":1660120380,"precipitati[...]
[...]
