---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=O2mGsspmtcySYGXszHOZTsGAhEm7tDBq&location=chicago,il
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 10 Aug 2022 08:18:43 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"chicago,il"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chicago","adminArea5Type":"City","adminArea4":"Cook
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039507","unknownInput":"","type":"s","latLng":{"lat":41.883229,"lng":-87.632398},"displayLatLng":{"lat":41.883229,"lng":-87.632398},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=O2mGsspmtcySYGXszHOZTsGAhEm7tDBq&type=map&size=225,160&locations=41.883229,-87.632398|marker-sm-50318A-1&scalebar=true&zoom=12&rand=2004338559"}]}]}'
  recorded_at: Wed, 10 Aug 2022 08:18:43 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=b271b18580fbaa246ff5db7a4855489a&lat=41.883229&lon=-87.632398&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1660119524,"sunrise":1660128811,"sunset":1660179502,"temp":59.14,"feels_like":58.95,"pressure":1022,"humidity":89,"dew_point":55.9,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3,"wind_deg":333,"wind_gust":3.22,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1660119540,"precipitation":0},{"dt":1660119600,"precipitation":0},{"dt":1660119660,"precipitation":0},{"dt":1660119720,"precipitation":0},{"dt":1660119780,"precipitation":0},{"dt":1660119840,"precipitation":0},{"dt":1660119900,"precipitation":0},{"dt":1660119960,"precipitation":0},{"dt":1660120020,"precipitation":0},{"dt":1660120080,"precipitation":0},{"dt":1660120140,"precipitation":0},{"dt":1660120200,"precipitation":0},{"dt":1660120260,"precipitation":0},{"dt":1660120320,"precipitation":0},{"dt":1660120380,"precipitati[...]
