---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=O2mGsspmtcySYGXszHOZTsGAhEm7tDBq&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 06 Aug 2022 16:56:23 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=O2mGsspmtcySYGXszHOZTsGAhEm7tDBq&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=751374894"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=O2mGsspmtcySYGXszHOZTsGAhEm7tDBq&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=973888212"}]}]}'
  recorded_at: Sat, 06 Aug 2022 16:56:23 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=b271b18580fbaa246ff5db7a4855489a&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9847,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1659804964,"sunrise":1659787418,"sunset":1659838080,"temp":81.25,"feels_like":81.61,"pressure":1013,"humidity":47,"dew_point":59.11,"uvi":7.49,"clouds":42,"visibility":10000,"wind_speed":3,"wind_deg":5,"wind_gust":8.01,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1659805020,"precipitation":0},{"dt":1659805080,"precipitation":0},{"dt":1659805140,"precipitation":0},{"dt":1659805200,"precipitation":0},{"dt":1659805260,"precipitation":0},{"dt":1659805320,"precipitation":0},{"dt":1659805380,"precipitation":0},{"dt":1659805440,"precipitation":0},{"dt":1659805500,"precipitation":0},{"dt":1659805560,"precipitation":0},{"dt":1659805620,"precipitation":0},{"dt":1659805680,"precipitation":0},{"dt":1659805740,"precipitation":0},{"dt":1659805800,"precipitation":0},{"dt":1659805860,"precipitati[...]
