---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=O2mGsspmtcySYGXszHOZTsGAhEm7tDBq&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 09 Aug 2022 02:54:53 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=O2mGsspmtcySYGXszHOZTsGAhEm7tDBq&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=421566320"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=O2mGsspmtcySYGXszHOZTsGAhEm7tDBq&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1766061876"}]}]}'
  recorded_at: Tue, 09 Aug 2022 02:54:53 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=b271b18580fbaa246ff5db7a4855489a&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660013693,"sunrise":1659960332,"sunset":1660010740,"temp":77.77,"feels_like":77.7,"pressure":1014,"humidity":52,"dew_point":58.77,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":3,"wind_deg":241,"wind_gust":5.99,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1660013700,"precipitation":0},{"dt":1660013760,"precipitation":0},{"dt":1660013820,"precipitation":0},{"dt":1660013880,"precipitation":0},{"dt":1660013940,"precipitation":0},{"dt":1660014000,"precipitation":0},{"dt":1660014060,"precipitation":0},{"dt":1660014120,"precipitation":0},{"dt":1660014180,"precipitation":0},{"dt":1660014240,"precipitation":0},{"dt":1660014300,"precipitation":0},{"dt":1660014360,"precipitation":0},{"dt":1660014420,"precipitation":0},{"dt":1660014480,"precipitation":0},{"dt":1660014540,"precipitati[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=denver,co&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer HxIeMihklSN67LDQl8jCT0pHiofYfd7iSSnZQ2ZdwYl8sFrd3HzzXTJ-syw0OcvPm1nmL4o3V4qbd3N37kGberj08S-ZHMDcUB1iD-ZEb7PRm0XYDZ-m8heSY5JmYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-77d4785ff7-jgsvq; site=public_api_v3
      X-Zipkin-Id:
      - 0c5c842e70d1e2a8
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4905'
      Ratelimit-Resettime:
      - '2022-08-10T00:00:00+00:00'
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-185-39-uswest2bprod
      X-Extlb:
      - 10-69-185-39-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "Yb4iTpZ3SjSEenqY6XMbFA", "alias": "taste-of-china-denver",
        "name": "Taste of China", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/jeBKUZqU9TxsDp4Y5HnHFg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/taste-of-china-denver?adjust_creative=_6dtP-lYAA4QXqo65J2ihg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=_6dtP-lYAA4QXqo65J2ihg",
        "review_count": 150, "categories": [{"alias": "chinese", "title": "Chinese"},
        {"alias": "thai", "title": "Thai"}, {"alias": "asianfusion", "title": "Asian
        Fusion"}], "rating": 4.5, "coordinates": {"latitude": 39.74702, "longitude":
        -105.02571}, "transactions": ["delivery", "pickup"], "price": "$$", "location":
        {"address1": "1935 Federal Blvd", "address2": "", "address3": null, "city":
        "Denver", "zip_code": "80204", "country": "US", "state": "CO", "display_address":
        ["1935 Federal Blvd", "Denver, CO 80204"]}, "phone": "+13034772204", "display_phone":
        "(303) 477-2204", "distance": 4901.717617542795}, {"id": "fxs9RrByHO9ss-ULhBBxFg",
        "alias": "chinatown-bistro-denver", "name": "Chinatown Bistro", "image_url":
        "https://s3-media1.fl.yelpcdn.com/bphoto/kVoKVW4n3toHjTZ9KnkPpg/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/chinatown-bistro-denver?adjust_creative=_6dtP-lYAA4QXqo65J2ihg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=_6dtP-lYAA4QXqo65J2ihg",
        "review_count": 35, "categories": [{"alias": "chinese"[...]
