---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=O2mGsspmtcySYGXszHOZTsGAhEm7tDBq&location=pueblo,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 08 Aug 2022 17:26:03 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"pueblo,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Pueblo","adminArea5Type":"City","adminArea4":"Pueblo
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040865","unknownInput":"","type":"s","latLng":{"lat":38.265425,"lng":-104.610415},"displayLatLng":{"lat":38.265425,"lng":-104.610415},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=O2mGsspmtcySYGXszHOZTsGAhEm7tDBq&type=map&size=225,160&locations=38.265425,-104.610415|marker-sm-50318A-1&scalebar=true&zoom=12&rand=833085017"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Pueblo
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932014","unknownInput":"","type":"s","latLng":{"lat":38.265425,"lng":-104.610415},"displayLatLng":{"lat":38.265425,"lng":-104.610415},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=O2mGsspmtcySYGXszHOZTsGAhEm7tDBq&type=map&size=225,160&locations=38.265425,-104.610415|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-979004391"}]}]}'
  recorded_at: Mon, 08 Aug 2022 17:26:03 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=b271b18580fbaa246ff5db7a4855489a&lat=38.265425&lon=-104.610415&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1659979564,"sunrise":1659960422,"sunset":1660010470,"temp":76.69,"feels_like":77.31,"pressure":1017,"humidity":69,"dew_point":65.77,"uvi":7.82,"clouds":0,"visibility":10000,"wind_speed":4.61,"wind_deg":0,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1659979620,"precipitation":0},{"dt":1659979680,"precipitation":0},{"dt":1659979740,"precipitation":0},{"dt":1659979800,"precipitation":0},{"dt":1659979860,"precipitation":0},{"dt":1659979920,"precipitation":0},{"dt":1659979980,"precipitation":0},{"dt":1659980040,"precipitation":0},{"dt":1659980100,"precipitation":0},{"dt":1659980160,"precipitation":0},{"dt":1659980220,"precipitation":0},{"dt":1659980280,"precipitation":0},{"dt":1659980340,"precipitation":0},{"dt":1659980400,"precipitation":0},{"dt":1659980460,"precipitati[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=pueblo,co&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer HxIeMihklSN67LDQl8jCT0pHiofYfd7iSSnZQ2ZdwYl8sFrd3HzzXTJ-syw0OcvPm1nmL4o3V4qbd3N37kGberj08S-ZHMDcUB1iD-ZEb7PRm0XYDZ-m8heSY5JmYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-77d4785ff7-xm8nd; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4924'
      Ratelimit-Resettime:
      - '2022-08-09T00:00:00+00:00'
      X-Zipkin-Id:
      - 74a4bdc6fdfdc96e
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-184-36-uswest2bprod
      X-Extlb:
      - 10-69-184-36-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "M4MwxQAA58B7ENV8ootI-w", "alias": "kans-kitchen-pueblo",
        "name": "Kan''s Kitchen", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/RxBfJ3hjre51jCpXqNlfjA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/kans-kitchen-pueblo?adjust_creative=_6dtP-lYAA4QXqo65J2ihg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=_6dtP-lYAA4QXqo65J2ihg",
        "review_count": 28, "categories": [{"alias": "chinese", "title": "Chinese"}],
        "rating": 4.5, "coordinates": {"latitude": 38.2401504516602, "longitude":
        -104.643249511719}, "transactions": ["delivery"], "price": "$", "location":
        {"address1": "1620 S Prairie Ave", "address2": null, "address3": null, "city":
        "Pueblo", "zip_code": "81005", "country": "US", "state": "CO", "display_address":
        ["1620 S Prairie Ave", "Pueblo, CO 81005"]}, "phone": "+17195660209", "display_phone":
        "(719) 566-0209", "distance": 6975.853345952662}, {"id": "kQxM1xlaZfQmXpKaqMTNnw",
        "alias": "wonderful-bistro-pueblo", "name": "Wonderful Bistro", "image_url":
        "https://s3-media1.fl.yelpcdn.com/bphoto/HqKiK_Ju61fC4nSFq_fgHg/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/wonderful-bistro-pueblo?adjust_creative=_6dtP-lYAA4QXqo65J2ihg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=_6dtP-lYAA4QXqo65J2ihg",
        "review_count": 81, "categories": [{"alias": "chinese"[...]
